%% -*- mode: erlang -*-
%% ----------------------------------------------------------------------------
%% RabbitMQ Configuration File.
%% Location: /etc/rabbitmq/rabbitmq.config
%% Documentation: http://www.rabbitmq.com/configure.html
%% ----------------------------------------------------------------------------
[
    {rabbit,
        [
            %% Allow guest user from everywhere
            {loopback_users, []},

            %% Set the memory usage to 5 percent of total memory
            {vm_memory_high_watermark, 0.05}
        ]
    }
].